<ion-content [fullscreen]="true">
  <div id="container">

    <ion-card>
      <ion-card-header>
        <ion-card-title>Login Form</ion-card-title>
      </ion-card-header>

      <ion-card-content>
         <ion-input class="loginInput" label="Outline input" type="number" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
        <ion-button class="SubmitButton">Submit</ion-button>
      </ion-card-content>
    </ion-card>
    <!-- <form class="form">
      <div>
        <ion-input class="loginInput" label="Outline input" type="number" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
        <ion-button class="SubmitButton">Submit</ion-button>
      </div>
    </form> -->
  </div>
</ion-content>