@import '../../global.scss';
@import '../../app//login/login.component.scss';
#sideBar{
    // display: none;
    width: 100%;

}
#main{
    width: 80%;
    display: none;
}
.listOfFleets{
    padding: 0 !important;
     :hover{
        background-color: var(--ion-color-light-shade);
    }
}
.itemsList{
     border-bottom: 1px solid var(--ion-color-light-shade);
     padding: .7rem 0;
    cursor: pointer;
   

}

.itemsList span{
    margin: 0 1rem;;
    font-size: large;
}




.content{
    box-shadow: 1px 1px 15px var(--ion-color-light-shade);
    min-height: 85vh;
    padding: 0.5rem;

}

table{
    border: none;
    width: 100%;
    table-layout: fixed
}
tr{
    border: none;
    border-bottom: 1px solid var(--ion-color-light-shade);
    overflow: hidden;


}
td{
    border: none;
    padding: 1rem 0;
    font-size: 1rem;
    font-family: sans-serif;
    overflow: hidden;


}
.secondTd{
    width: 60%;
}

.SubmitButton{
    margin-top: 1rem;
    float: left;
    cursor: pointer;
}


#headerCon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem;
}

.closeIcon{
    display:none;
}

@media (min-width: $breakpoint-md) {
  .deatailcon{
    padding: 1rem;
    // min-height: 100vh;
    }
    .content{
    padding: 1.5rem;

}
.secondTd{
    width: 80%;
}

}


///////////// 
/* combined-view.component.scss */
/* combined-view.component.scss */

.combined-view-container {
  display: flex;
  height: 100vh;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.content-list {
  width: 20%;
  overflow-y: auto;
  @media (max-width: 768px) {

    position: fixed;
    height: 100%;
    top: 0;
    left: -100%;
    transition: left 0.3s ease;
    z-index: 1;
    background:  var(--ion-color-light-shade);

    &.open {
      left: 0;
    }
  }
  .listContainer{
    width: 100%; box-shadow: 1px 1px 15px var(--ion-color-light-shade);

  }

  .list-item {
    padding: 15px 10px;
    cursor: pointer;
    border-bottom: 1px solid var(--ion-color-success-contrast);

    &:hover {
      background-color: var(--ion-color-light-shade);
    }
  }

  .toggle-btn {
    display: none;

    @media (max-width: 768px) {
      display: block;
      position: fixed;
      top: 10px;
      left: 10px;
      cursor: pointer;
    }
  }
}

.detail-view {
  width: 80%;
  padding: 20px;
  padding-top: 0;

  @media (max-width: 768px) {
    width: 100%;
    margin-top: 20px;
  }

  h2 {
    font-size: 24px;
  }

  p {
    margin-top: 10px;
  }
}
.titleCon{
    padding: 4px;
    text-align: center;
    border-bottom: 1px solid var(--ion-color-light-shade);
    // box-shadow: 0px 5px 15px var(--ion-color-light-shade);

}
