<div class="combined-view-container">
  <div class="content-list" [class.open]="isSidebarOpen">
    <div class="titleCon">
       <div class="toggle-btn" (click)="toggleSidebar()">☰</div>
      <h1>Tasks</h1>
    </div>
    <ng-container class="listContainer" *ngFor="let data of items; let i = index">
        <div  (click)="navigate(i)"  class="itemsList" >
        <span >{{data?.description}}</span>
        </div> 
      </ng-container>
  </div>
  <div class="detail-view">
     <div class="titleCon">
      <h1>Task Details</h1>
     </div>
      <ng-container *ngIf="detail" >
        <div class="content">
           <h2>{{detail.description}}</h2>
            <table>
              <tbody>
                <tr>
                  <td>Time Start</td>
                  <td class="secondTd">
                    {{formatTime(detail.startTime)}} , {{ formatTime(detail.endTime)}}
                  </td>
                </tr>
                <tr>
                  <td>Location</td>
                  <td class="secondTd">
                    <span *ngIf="!startPlaceName">{{detail.startLatitude}} , {{detail.startLongitude}}</span>
                    <span *ngIf="startPlaceName"> {{ startPlaceName }}</span>
                  </td>
                </tr>
                <tr>
                  <td>Destination</td>
                  <td class="secondTd">
                    <span *ngIf="!endPlaceName"> {{detail.endLatitude}} , {{detail.endLongitude }}</span>
                    <span *ngIf="endPlaceName"> {{endPlaceName }} </span>
                  </td>
                </tr>
                <tr>
                  <td>Remark</td>
                  <td class="secondTd">{{detail.remark}} </td>
                </tr>
              </tbody>
              <tr>

              </tr>
            </table>

          
        <div class="SubmitButton">
          <ion-button (click)="onButtonClick()" *ngIf="!showFinshButton">Open Direction</ion-button>
          <ion-button (click)="onSubmit(detail.id, 'Start')" *ngIf="!showFinshButton">Start</ion-button>
          <ion-button (click)="onSubmit(detail.id, 'Cancel')" *ngIf="showFinshButton" >Cancel</ion-button>
          <ion-button  (click)="onSubmit(detail.id, 'End')" *ngIf="showFinshButton">Finsh</ion-button>
        </div>

       </div>
      </ng-container>
  </div>
</div>
